LOCAL_DEVELOPMENT_TEAM =
LOCAL_PRODUCT_BUNDLE_IDENTIFIER = com.example.gameservices.sample.host
LOCAL_ICLOUD_CONTAINER_IDENTIFIER = iCloud.com.example.gameservices.sample.host

#include? "Local.xcconfig"

DEVELOPMENT_TEAM = $(LOCAL_DEVELOPMENT_TEAM)
PRODUCT_BUNDLE_IDENTIFIER = $(LOCAL_PRODUCT_BUNDLE_IDENTIFIER)
ICLOUD_CONTAINER_IDENTIFIER = $(LOCAL_ICLOUD_CONTAINER_IDENTIFIER)
